/////////
// App //
/////////

@import (less) "http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900|Slabo+27px";

@import (less) "../node_modules/highlight.js/styles/dark.css";
@import "../node_modules/gplaces/less/components/gplaces.less";

@import "../node_modules/font-awesome/less/variables.less";
@fa-font-path: '/dist/font';
@import "../node_modules/font-awesome/less/mixins.less";
@import "../node_modules/font-awesome/less/path.less";
@import "../node_modules/font-awesome/less/core.less";
@import "../node_modules/font-awesome/less/larger.less";
@import "../node_modules/font-awesome/less/fixed-width.less";
@import "../node_modules/font-awesome/less/list.less";
@import "../node_modules/font-awesome/less/bordered-pulled.less";
@import "../node_modules/font-awesome/less/animated.less";
@import "../node_modules/font-awesome/less/rotated-flipped.less";
@import "../node_modules/font-awesome/less/stacked.less";
@import "../node_modules/font-awesome/less/icons.less";

@import "./variables.less";
@import "./mixins.less";
@import "./theme.less";
@import "./frills.less";

@import "./components/typography.less";
@import "./components/anchor.less";
@import "./components/goodybag-logo.less";
@import "./components/input.less";
@import "./components/container.less";
@import "./components/section.less";
@import "./components/footer.less";
@import "./components/flex-cols.less";
@import "./components/logo-support.less";
@import "./components/example-row.less";

#animations > .init();
#components > .typography();

.container { #components > .container( @container-width ); }
.section { #components > .section(); }
.footer { #components > .footer(); }
.logo-support { #components > .logo-support(); }
.goodybag-logo { #components > .goodybag-logo( 17rem ); }
.flex-cols { #components > .flex-cols( 2rem ); }
.example-row { #components > .example-row( 4rem, @container-width ); }
a { #components > .anchor(); }
input { #components > .input(); }

* {
  box-sizing: border-box;
}

html, body {
  font-family: Lato;
  margin: 0;
  padding: 0;
  color: @palette-gray-dark;
}

#intro-section {
  @media screen and ( max-width: @breakpoint-mobile ){
    overflow: hidden;
  }

  .intro-text {
    flex: 2;
  }

  .intro-example {
    max-width: 400px;
    margin-top: 40px;
  }

  .intro-supporting-graphic {
    flex: 1;
    text-align: center;


    @media screen and ( max-width: @breakpoint-mobile ){
      margin-top: 20px;
      margin-bottom: -250px;
    }
  }

  .hljs {
    background: rgba( 68, 68, 68, 0.18 );
  }
}

.hljs {
  background: @palette-gray-dark;
}