////////////
// Themes //
////////////

.get-theme( @theme ) when ( @theme = 'purple-red' ){ #themes > #purple-red(); }
.get-theme( @theme ) when ( @theme = 'dark' ){ #themes > #dark(); }
.get-theme( @theme ) when ( @theme = 'gray-dark-blue' ){ #themes > #gray-dark-blue(); }

#themes {

  .create( @bg, @bg-secondary, @text-color ){
    .create( @bg, @bg-secondary, @text-color, @text-color );
  }

  .create(
      @bg
    , @bg-secondary
    , @text-color
    , @anchor-color
    ){
    @background: @bg;
    @background-secondary: @bg-secondary;
    @color: @text-color;
    @anchor: @anchor-color;

    .background(){
      background: @background;
    }

    .color(){
      color: @color;
    }

    .anchor(){
      color: @anchor;
    }
  }

  #purple-red {
    #themes > .create( @palette-purple, @palette-red, #fff );

    .background(){
      background:
        url('/img/lines.svg'),
        linear-gradient( 90deg, @background 10%, @background-secondary 90% );
    }
  }

  #dark {
    #themes > .create( @palette-gray-dark, @palette-gray-dark, #fff );
    .background(){
      background: url('/img/lines.svg'), @background;
    }
  }

  #gray-dark-blue {
    #themes > .create( @palette-gray-dark-blue, @palette-gray-dark-blue, #fff );
  }
}